.container.svelte-1ginl5v{max-width:65rem;display:flex;width:100%}.vertical.svelte-1ginl5v{flex-direction:column}.horizontal.svelte-1ginl5v{flex-direction:row}@media(max-width:640px){.horizontal.svelte-1ginl5v{flex-direction:column}}
